# OpenFOAM runtime outputs 
[0-9]*/
!0.orig/
!0.orig/**
!ShockTube_multicomponent_Test/0/
!ShockTube_multicomponent_Test/0/**
processor*/
log.*
postProcessing/

# Mesh (generated)
constant/polyMesh/

# ParaView
*.foam

# OS/editor
.DS_Store
*.swp
*~
__pycache__/
*.pyc

